<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Mobile interface</title>
    <link rel="stylesheet" href="mobile/style.css">
</head>

<body>
    <div id="app">

        <div v-if="notConnected && !gameOver" class="page connect">
            <h3 class="title">Please, enter you id</h3>
            <input class="input" type="text" maxlength="7" v-model="groupId" @input="changeGroupId" />
        </div>

        <div v-if="!notConnected && !gameOver" class="page control">
            <div class="pause">
                <div class="button arrow" @click="pause"></div>
            </div>
            <div class="buttons">
                <div class="top">
                    <div class="button up arrow" @click="up"></div>
                </div>
                <div class="middle">
                    <div class="button left arrow" @click="left"></div>
                    <div class="button right arrow" @click="right"></div>
                </div>
                <div class="bottom">
                    <div class="button down arrow" @click="down"></div>
                </div>
            </div>
        </div>

        <div v-if="gameOver" class="page over" @click="start">
            <span>You {{gameOverText}}</span>
        </div>
    </div>

    <script src="mobile/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="mobile/main.js"></script>
</body>

</html>