body,
html {
    margin: 0;
    padding: 0;
}

html,
input {
    font-family:
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Lucida Grande",
        sans-serif;
}

.page {
    height: 100vh;
    width: 100%;
    background-color: #1d1d1d;
}

.connect {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.connect .title {
    margin-bottom: 0px;
}

.connect .input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    text-align: center;
    width: 400px;

    color: white;
    padding-bottom: 4px;
    margin-top: 12px;
}

.buttons {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons .middle {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: red;
}

.button .up {
    margin: 10px;
}